.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #ffffff;
    border: 2px solid #e63946;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    max-width: 300px;
    margin: 20px auto;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
}

.card-image {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.card-content {
    padding: 15px 20px;
    flex-grow: 1; /* Pousse le bouton vers le bas */
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-title {
    font-size: 1.5rem;
    color: #333;
    margin: 10px 0;
}

.card-description {
    font-size: 1rem;
    color: #666;
    margin: 10px 0 20px;
}

.btn-red {
    background-color: #e63946;
    padding: 10px 20px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s ease;
    margin-top: auto; /* Aligne le bouton en bas de la *card* */
}

.btn-red:hover {
    background-color: #b82633;
}

.small-text {
    font-size: 0.9rem; /* Ajuste la taille du texte pour ce bouton spécifique */
}